.header
  background-image: url(../image/bg/bg-top.jpg)
  padding: 15px 0 15px 0
.navbar
  display: flex
  justify-content: space-between
  align-items: center
  &-menu
    list-style: none
    display: flex
    &__item
      margin-left: 15px
      margin-right: 15px
      text-decoration: none
      font-family: Lato
      font-size: 14px
      font-style: normal
      font-weight: 900
      line-height: 20px
      color: $light
  &__button
    width: 261px
    height: 39px
    font-family: Lato
    padding: 10px
    text-decoration: none
    background-color: #656B70
    border-radius: 5px
    border: none
    text-transform: uppercase
    color: $light
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 20px
    text-align: center
    cursor: pointer

.expansion
  background-image: url(../image/bg/bg-top-2.jpg)
  min-height: 475px
  padding-top: 30px
  &__blocks
    display: flex
    justify-content: space-between
.personals
  background-image: url(../image/section-1/developer.jpg)
  width: 887px
  padding: 55px 224px 100px 55px
  border-radius: 10px 0 10px 0
  &__subtitle
    margin-bottom: 20px
    text-transform: uppercase
    color: $blue
    font-family: Lato
    font-size: 12px
    font-style: normal
    font-weight: 900
    line-height: 15px
  &__title
    color: $light
    font-family: Roboto Slab
    font-size: 40px
    font-style: normal
    font-weight: 700
    line-height: 50px
  &__button
    text-align: center
    padding: 10px
    width: 154px
    height: 40px
    border-radius: 40px
    background-color: $blue
    cursor: pointer
    &-btn
      text-decoration: none
      font-family: Lato
      font-size: 14px
      font-style: normal
      font-weight: 900
      line-height: 20px
      color: $light
  &__arrow
    margin-left: 8px
    width: 15px
    height: 7px
.user
  display: flex
  align-items: center
  margin-bottom: 145px
  &__avatar
    border-radius: 50%
    margin-right: 10px
    object-fit: cover
  &__name
    display: flex
    font-family: Lato
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 20px
    color: $light
  &__developer
    font-family: Lato
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: 15px
    color: $light
    opacity: 0.4

.recommendation
  background: $light
  max-width: 263px
  border-radius: 0 10px 0 10px
  &__block
    padding: 25px 19px 25px
    height: 99px
    &-float
      padding: 0 19px 25px
      height: 99px
      background-color: #F5F5F5
  &-line
    width: 263px
    height: 1px
    background-color: #D9DADB
  &__title
    margin: 0
    padding: 19px 25px 25px
    color: $grey
    text-transform: uppercase
    font-family: Lato
    font-size: 14px
    font-style: normal
    font-weight: 900
    line-height: 20px
  &__subtitle
    margin: 0
    &-float
      padding-top: 17px
      margin-bottom: 8px
      margin-top: 0
      color: #3BBDC4
      text-transform: uppercase
      font-family: Lato
      font-size: 12px
      font-style: normal
      font-weight: 900
      line-height: 15px
    &-js
      margin-bottom: 8px
      margin-top: 0
      color: #6E99AE
      text-transform: uppercase
      font-family: Lato
      font-size: 12px
      font-style: normal
      font-weight: 900
      line-height: 15px
    &-html
      margin-bottom: 8px
      margin-top: 0
      color: #AC8EE3
      text-transform: uppercase
      font-family: Lato
      font-size: 12px
      font-style: normal
      font-weight: 900
      line-height: 15px
    &-web
      margin-bottom: 8px
      margin-top: 0
      color: #FFA34D
      text-transform: uppercase
      font-family: Lato
      font-size: 12px
      font-style: normal
      font-weight: 900
      line-height: 15px
    &-grid
      padding-top: 17px
      margin-bottom: 8px
      margin-top: 0
      color: #3DC47E
      text-transform: uppercase
      font-family: Lato
      font-size: 12px
      font-style: normal
      font-weight: 900
      line-height: 15px
  &__text
    color: $text-grey
    font-family: Lato
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 20px
